/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
.header {
    font-family: 'Berkshire Swash', cursive;
    background-color: #000;
    padding-bottom: 160px;
    position: relative;
}

.header-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner {
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-elements {
    padding-top: 160px;
}

.header-title {
    color: #FF5E19;
    font-size: 54px;
    text-align: center;
}

.header-info {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}


/* main star */
.main {
    background-color: #151515;
    padding-top: 50px;
    padding-bottom: 50px;
}

.players {
    display: flex;
    column-gap: 23px;
    margin: 0 10%;
}

/* player section */
.player-cards {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 264px);
    gap: 24px;
}

.card {
    border: 2px solid rgba(251, 249, 249, 0.3);
    background-color: #000;
    color: #fff;
}

.player-info {
    text-align: center;
    padding: 15px;
}

.info-bottom {
    padding-bottom: 20px;
}

.player-cards .card img {
    width: 100%;
}

.card span {
    color: rgb(179, 166, 166);
    margin-right: 5px;
    font-size: 14px;
}

.dot {
    font-size: 30px;
}

.btn-select {
    background-color: #015196;
    color: #fff;
    font-weight: 600;
    padding: 10px 90px;
}

button:hover {
    border: 1px solid #04465d;
    background-color: #04778e;
    color: #ffffff;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* side calculator */
.side-calculator {
    width: 264px;
}

.selected-players,
.budget {
    background-color: #000;
    color: #fff;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 30px;
}

.selected-players h2 {
    margin-bottom: 10px;
    text-align: center;
}

hr {
    margin-bottom: 15px;
}

.selected-v {
    height: 200px;
}

.selected-v li {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}

/* footer */
.footer {
    background-color: #151515;
    color: #fff;
    text-align: center;
}

.footer p {
    padding: 40px 0;
}